.wrapper .category-header {
    background-image: url(./assets/category-header.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1093px;
    height: 206px;
    margin: auto;
}

.list {
    width: 940px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 86px auto 140px auto;
}

.list .block {
    position: relative;
}

.block .image {
    /* background-image: url(./assets/model.svg); */
    background-repeat: no-repeat;
    background-size: contain;
    width: 456px;
    height: 499px;
}

.block .line {
    width: 410px;
    height: 2px;
    background-color: #FDA3C4;
}

.block .description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px;
    width: 410px;
}

.description p.name {
    font: 400 15px 'Montserrat';
    width: 295px;
}

.description p.price {
    font: 700 20px 'Montserrat';
    color: #FDA3C4;
}

.block .dislike {
    background-image: url(./assets/dislike.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 26px;
    position: absolute;
    top: 25px;
    right: 25px;
}