.wrapper {
    padding: 30px 0 45px 0;
}

.header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px;
}

.header-wrapper .logo {
    background-image: url(./assets/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 160px;
    height: 40px;
    cursor: pointer;
}

.header-wrapper .basket {
    background-image: url(./assets/header-basket.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.wrapper nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.wrapper nav p {
    width: 10%;
    font: 600 16px 'Montserrat';
    color: #1F1F1F;
}

.wrapper nav p:hover {
    cursor: pointer;
    color: #FDA3C4;
}